
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Правители без планет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- header -->
<header></header>


<!-- body -->
<div class="container mt-5">
    <h1>Правители без планет</h1>

    <div th:each="element : ${rulersWoPlanets}" class="alert alert-info mt-2">
        <h4 th:text="'id правителя: ' + ${element.rulerId}"></h4>
    </div>
</div>



<!-- footer -->
<footer></footer>

</body>
</html>
