<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить Планету</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<!-- header -->
<header></header>


<!-- body -->
<div class="container mt-5">
    <h1>Добавление Планеты</h1>
    <form action="/planets/add" method="post">
        <input type="text" name="name" placeholder="Введите название Планеты" class="form-control"><br>

        <button type="submit" class="btn btn-primary">Добавить Планету</button>
    </form>


</div>


<!-- footer -->
<footer></footer>

</body>
</html>
