
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить Правителя</title>

</head>
<body>

<div>
  <h1>Добавление Правителя</h1>
  <form th:action="@{/all-rulers}" th:method="POST" th:object="${ruler}">
    <input type="text" name="name" placeholder="Введите имя Правителя" class="form-control"><br>
    <input type="text" name="age" placeholder="Введите возраст Правителя" class="form-control"><br>

    <button type="submit" class="btn btn-primary">Добавить Правителя</button>
  </form>

</div>

</body>
</html>